<section class="main-slider">
    <a href="http://owm.io" class="main-slider__link">
        <!-- img.main-slider__image(src='themes/owm/assets/img/image-slider-mosaic.jpg' width="3360" alt='Vane platform')-->
        <div id="map1" class="main-slider__map main-slider__map--map1"></div>
        <div id="map2" class="main-slider__map main-slider__map--map2"></div>
        <div id="map3" class="main-slider__map main-slider__map--map3"></div>
    </a>
    <div class="main-slider__layout">
        <h2 class="main-slider__title">Vane Platform</h2>
        <p class="main-slider__description">Simple and fast access to environmental <br> data for development of new applications</p><a href="/vaneLanguage" target="_blank" class="mainpage-btn main-slider__btn">Try for free</a>
    </div>
    <ul id="controls" class="main-slider__controls">
        <label class="main-slider__label">
            <input type="radio" name="slide" checked="true" class="main-slider__radio"><a id="slide0" href="/vaneLanguage" class="main-slider__control"></a>
        </label>
        <label class="main-slider__label">
            <input type="radio" name="slide" class="main-slider__radio"><a id="slide1" href="/vaneLanguage" class="main-slider__control"></a>
        </label>
        <label class="main-slider__label">
            <input type="radio" name="slide" class="main-slider__radio"><a id="slide2" href="/vaneLanguage" class="main-slider__control"></a>
        </label>
    </ul>
</section>