@import './variables';
@import './normalize';
@import './fonts';

body {
  margin: 0;
}


/* Фейковый селектор */
.fake{
  background: url(../img/icon-fb.png);
  background: url(../img/icon-in.png);
}
