@import './variables.less';
@import './normalize.less';
@import './fonts.less';

body {
  margin: 0;
}


/* Фейковый селектор */
.fake{
  background: url(../img/icon-fb.png);
  background: url(../img/icon-in.png);
  background: url(../img/img-bracket.svg);
  background: url(../img/research_icon_LP.png);
  background: url(../img/tools_icon_LP.png);
  background: url(../img/ndvi_mask_S2.jpg);
  background: url(../img/Olga-Ukolova.jpg);
  background: url(../img/Dennis-Ukolov.jpg);
  background: url(../img/Sergey-Venediktov.jpg);
  background: url(../img/Sergey-Bobrovskikh.jpg);
  background: url(../img/Daria-Usova.jpg);
  background: url(../img/Mikhail-Remizov.jpg);
  background: url(../img/Pedro-Gabriel.jpg);
  background: url(../img/Denis-Bykov.jpg);
  background: url(../img/Georgy-Potapov.jpg);
  background: url(../img/Alla-Vladimirova.jpg);
  background: url(../img/Maxim-Guschcho.jpg);
  background: url(../img/Maxim-Samokhin.jpg);
  background: url(../img/Olga-Makarova.jpg);
  background: url(../img/Ekaterina-Rubatskaya.jpg);
  background: url(../img/Dmitriy-Kharitonov.jpg);

}
