.workers{
  max-width: 1130px;
  margin: 50px auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 435px) {
  .workers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
  }
}